.offerSwiper .swiper-pagination-bullet {
  background-color: #7b7979 !important;
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
}
.offerSwiper .swiper-pagination-bullet-active {
  background-color: #ffffff00 !important;
  border: 2px solid #888585 !important;
}
.offerSwiper .swiper-pagination {
  bottom: 50px !important;
  padding-left: 8% !important;
}

@media (max-width: 768px) {
  .offerSwiper .swiper-pagination {
    bottom: 20px !important;
    padding-left: 4% !important;
  }
}
